# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle gdb breakpoint'
      'command': 'atom-gdb:toggle_breakpoint'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-gdb'
      'submenu': [
        {
          'label': 'Start Debugging'
          'command': 'atom-gdb:start'
        }
      ]
    ]
  }
]
