'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle gdb breakpoint'
      'command': 'atom-gdb:toggle-breakpoint'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Gdb'
      'submenu': [
        {
          'label': 'Start debugging'
          'command': 'atom-gdb:start'
        },
        {
          'label': 'Start without debugging'
          'command': 'atom-gdb:start-no-debug'
        },
        {
          'label': 'Stop running process'
          'command': 'atom-gdb:stop'
        },
        {
          'label': 'Select binary to debug'
          'command': 'atom-gdb:select-executable'
        },
        {
          'label': 'Select startup directory'
          'command': 'atom-gdb:select-startup-directory'
        }
      ]
    ]
  }
]
