# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle gdb breakpoint'
      'command': 'atom-gdb:toggle_breakpoint'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Gdb'
      'submenu': [
        {
          'label': 'Start Debugging'
          'command': 'atom-gdb:start'
        },
        {
          'label': 'Select executable to debug'
          'command': 'atom-gdb:select-executable'
        },
        {
          'label': 'Set startup directory '
          'command': 'atom-gdb:select-startup-directory'
        }
      ]
    ]
  }
]
